@import "partials/variables";
@import "partials/mixins";
@import "partials/functions";

//Structure

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

main {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	flex: 1 1 80%
}

header {
	top: 0;

	.logo {
		grid-area: logo;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	.header__nav {
		grid-area: hnav;
		display: flex;
		justify-content: flex-end;
	}

	@extend %grid;
	grid-template-areas: templateRow(
				(1, ".", 2, "logo", 10, "hnav", 1, ".")
	);
	@media (min-width: 768px) {
		grid-template-areas: templateRow(
					(1, ".", 3, "logo", 9, "hnav", 1, ".")
		);
	}
	background-color: transparent;
	color: $black;
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 60px;
}
